
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .md-nav {
        display: none;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
@section JsHeader{
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
}
<section class="clearfix section-signin">
    <div class="signin-pattern-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-all mt-50">
                    <div class="login-register-form mb-100">

                        <div class="row">
                            <div class="col-sm-5 col-bdright">
                                <div class="text-center mt-20">
                                    <h3 class="h-bold text-uppercase">Tạo Câu hỏi</h3>
                                    <p class="welcome mt-10">Chào mừng bạn đến với HiSchool!</p>
                                    <img class="visible-lg signin-boy-img" src="~/Uploads/questions-1014060_960_720.jpg" alt="">
                                </div>
                                <div class="line-col-bdright visible-lg"></div>
                            </div>
                            <div class="col-sm-7">

                                <div class="wow jello" data-wow-delay="0.5s">
                                    <p class="mt-10 mt-xs-40 text-uppercase">Vui lòng nhập nội dung câu hỏi:</p>
                                </div>
                                @using (Html.BeginForm("Create", "Question", FormMethod.Post, new { enctype = "multipart/form-data", id = "validation-form" }))
                                {
                                    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                                    <div class="form-group">
                                        <div class="clearfix">
                                            @if (ViewBag.Subject != null)
                                            {
                                                <select class="form-control" name="SubjectId" id="SubjectId">
                                                    @for (int i = 0; i < ViewBag.Subject.Count; i++)
                                                    {
                                                        <option value="@ViewBag.Subject[i].Id">@ViewBag.Subject[i].Name</option>
                                                    }
                                                </select>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="clearfix">
                                            <textarea name="Summary" id="Summary" class="login-register-form-input" style="height:207px" placeholder="Nhập nội dung câu hỏi" required></textarea>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-xs-3 left_re_captcha"></div>
                                        <div class="col-xs-9">
                                            <div class="g-recaptcha" data-sitekey="6LddkFYUAAAAACmGVajFlcbwUB-clb1iSUl5IVrC"></div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-20">
                                        <button type="submit" name="submit" class="btn btn-primary">Tạo câu hỏi</button>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


